%div
  %h2 Hello!
%div{ style: 'text-align: center' }
  %p
    This is sample Rails with React.js app. It allows you to register your user and create some notes.
    Notes editor created with react components only. In order to check it, please register.
  .sign-in-btn
    = link_to new_user_registration_path, class: 'custom-link sign-in' do
      %span Sign Me Up!