%div
  %h2 Hello!
%div
  %p
    This is sample Rails with React.js app. It allows you to register your user and create some notes.
    Notes editor created with react components only. In order to check it, please register.
  .sign-in-btn
    = link_to 'Sign Me Up!', new_user_registration_path, class: 'sign-in-link'