* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  background-color: #eaeaea;
}

h2 {
  text-align: center;
}

#mount-point {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-app {
  width: 100%;
}

.app-header {
  text-align: center;
  font-weight: 500;
  color: grey;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
}

.sign-in-btn {
  display: block;
  text-align: center;
  margin: 40px 0;
}

.sign-in-link {
  text-decoration: none;
  padding: 14px 16px;
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
}